<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="URL" value="http://system.netsuite.com"/>
    <add key ="UserName" value="ganapathi.balasubramanian@wolterskluwer.com"/>
    <add key="Password" value="Ganapathi12!"/>
    <!-- project id is unique ID assigned to a project in INIA-->
    <add key="ProjectName" value="T360SI"/>
    <add  key="EmailSubject" value="Netsuite Time Entry: {0} to {1}"/>
    <add key="EmailFrom" value="manivannan.subramanian@object-frontier.com"/>
    
	<add key="EmailTo" value="hariharasudan.nagarajan@object-frontier.com;sathishkumarm@object-frontier.com ;viyaguladoss.james@object-frontier.com;ganapathi.balasubramanian@object-frontier.com;kavirajan.vijayakumar@object-frontier.com"/>
	
    <add key="EmailCC" value=""/>
    <add key="SMTPServer" value="192.168.0.70"/>
    <!-- Weekly , monthly , Daily-->
    <!--add key="ReportType" value="Monthly - Current Month"  Jayalakshmi Viswanathan,Hari Hara Sudan Nagarajan,/-->
	<add key="ReportType" value="Monthly - Previous Month"/>
    <!--add key="ProjectUsers" value="Ramachandran Balasubramaniyan,Ganapathi Raman Balasubramanian,Anbarasan Krishnan,Vijay Anand Jaymani,Madhusudanan Hariharan,Dineshpandiyan Subramaniam,Manikandan Jayaraman"/-->
	<add key="ProjectUsers" value="Ganapathi Raman Balasubramanian,Vijay Anand Jaymani,Madhusudanan Hariharan,Sathiskumar Masilamani,Dineshpandiyan Subramaniam"/>
    <add key="ReportPath" value="D:\\Tools\\NetsuiteTimeSheetAlert\\Report"/>
    
	<add key="LoadTimeWait" value="15000"/>
    <add key="LoginTimeWait" value="10000"/>
    <add key="ReportClickTimeWait" value="10000"/>
    <add key="ReportGenerationTimeWait" value="20000"/>
    <add key="MiscTimeWait" value="25000"/>
	
  </appSettings>
</configuration>